<h3 class="logo is-3">Is this in?</h3>
<div class="container login">
  <div class="loginbox">
  <form method="POST" action="/register">
    <div class="field">
      <label for="username">Username</label>
      <input class="input" type="text" name="username" id="username">
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input class="input" type="text" name="email" id="email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input class="input" type="password" name="password" id="password">
    </div>
    <div class="field">
      <label for="passwordConfirmation">Password Confirmation</label>
      <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation">
    </div>
    <button class="button">Register</button>
  </form>
  </div>
