<div class="columns">
  <div class="column">

  </div>
  <div class="column middle">

        <form>
        <label class="label">Username:</label>
        <div class="usernameinput">
          <p> <%= locals.currentUser.username  %> </p>
          <label class="label">Email:</label>
          <p> <%= locals.currentUser.email  %> </p>
          <label class="label">Comments:</label>
          <ul>
            <% questions.forEach(question => { %>
              <img src="<%= question.image %>" />
              <% question.comments.forEach(comment => { %>
                <%= comment.content %>

              <% }) %>
            <% }) %>
          </ul>
          <label class="label">Uploads:</label>
          <img class="imagesUploaded" src="" alt="">
        </div>
      </form>
</div>
      <div class="column">
      </div>
