<h3 class="logo is-3">Is this in?</h3>
<div class="container login">
  <div class="loginbox">
  <h1 class="title is-4">Welcome back!</h1>
  <h2 class="title is-6">Sign in again with your email address to continue</h2>
  <form method="POST" action="/login">
    <div class="field">
      <label for="email">Email</label>
      <input class="input" type="text" name="email" id="email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input class="input" type="password" name="password" id="password">
    </div>
    <button class="button loginbutton">SIGN IN</button>
  </form>

</div>
</div>
