<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="title is-3 container has-text-right">
      <h1 class="title has-text-white">Is this still in?</h1>
      <p> </p>
      <h2 class="title is-2 has-text-white">Trends change! Just ask!</h2>
    </div>
  </div>
</section>
