<div class="container" class="showcontainer">
  <div class="columns">
    <div class="column colone">

    </div>
    <div class="column coltwo">
      <div class="icon is-medium">
        <i class="fa fa-user"><p class="user"><%= locals.currentUser.username %></p></i>
        <p><%= locals.currentUser.email %></p>
      </div>

    </div>
  </div>
</div>
