<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <h1 class="title has-text-white">Is this still in?</h1>
      <h2 class="subtitle has-text-white">Need to know if something still looks good? Just ask!</h2>
    </div>
  </div>
</section>
