.homepage {
  color: black;
}
.hero.homepage {
  background-image: url(/images/mainmodel.jpg);
  background-size: stretch;
  height: 100%;
  color: black;
}
.navbar {
  background-color: #2d2d2d;
  color: white;
  height: 75px;
}
.navbar-item {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: bold;
}
.card {
  margin-top: 30px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-color: #dfddde;
}
.card-content{
  padding: 10px;
}
.card-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}
.container {
  margin: 20px auto;
}
.column {
  font-family: 'Open Sans', sans-serif;
}
.colone {
  text-align: center;
}
.coltwo {
  margin-top: 20px;
}

a + form {
  display: inline-block;
}
.voteButtons {
  margin-top: 20px;
}
p.user {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
p {
  padding: 10px;
  display: block;
}

.fa-user {
  margin-left: 40px;
  margin-bottom: 10px;
}

.middle {
  margin-top: 30px;
}
.icon {
  display: inline-block;
  padding-right: 30px;

}
.userp {
  display: inline-block;
  padding-left: 30px;
  font-weight: bold;
}
.default {
  cursor: default;
}
.imgNav {
  margin-right: 10px;
}
img {
  border-radius: 10px;
}
.profileHead p {
  line-height: 50px;
  display: inline-block;
  padding: 0 0 0 10px;
}
.profileHead img {
  float: left;
}
