<h3 class="logo is-3">Is this in?</h3>

<div class="container login">
  <div class="loginbox">
  <form method="POST" action="/questions">
    <div class="field">
      <label class="label">Question</label>
      <div class="control">
        <input class="input" name="title" type="text" placeholder="Do people still rock these?" required minlength='2'>
      </div>
    </div>

    <div class="field">
   <label class="label">Image</label>
   <div class="control">
     <img class="imgPreview newimgPrview" src="" alt="" style="background-image">
     <input type="hidden" name="image" required />
     <button class="button image-upload" type="button">Choose an image to upload</button>
   </div>
 </div>

    <div class="field">
      <label class="label">Give us more! Is it for a first date, interview, meet the parents etc?</label>
      <div class="control">
        <input class="input" name="moreinfo" type="text" placeholder="First date outfit" required minlength="2">
      </div>
    </div>

    <div class="field">
      <label class="label">Where did you get it from?</label>
      <div class="control">
        <input class="input" name="from" type="text" placeholder="Optional" required minlength="2">
      </div>
    </div>


    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
</div>
